<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<h4>List of Actors</h4>

<% if @movie.actors.any? %>
  <ul>
    <% @movie.actors.each do |dino| %>
      <li><%=link_to dino.name, actor_path(dino.id) %></li>

    <% end %>
  </ul>
<% else %>
  <p>There are no actors in this movie.</p>
<% end %>
